/*
Brian Stacks
MiU 1307
project3 6-5-13
*/



label.error{display: box; margin: 10px 0; color: red;}

#addFormErrorLink{
	
	display: none;
}

input:required + label::after{
	
	content: "*";
	color: red;
}

#clearMy{
	position:relative;
	right:-5px;
	
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

#rqf{
	font-size: smaller
}